body {
  margin: 0;
  /*background: linear-gradient(to left, #5a9e9b, #3a6664);*/
} /*

.imagen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.imagen {
  max-width: 100%;
  max-height: 80%;
  margin: 20px auto;
  display: block;
}
*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* add this line */
  justify-content: left;
  height: 100vh;
}

.header {
  height: 15vh;
  background-color: #17232f;
}

.content {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15%;
  height: 20vh;
}
.content-color-one {
  background-image: linear-gradient(to bottom, #223a46, #17232f);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15%;
  height: 35vh;
}
.content-color-two {
  background-image: linear-gradient(to bottom, #0c0a0f, #48332e);
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 15%;
  height: 100vh;
}
.content-front {
  background-image: linear-gradient(to bottom, #223a46, #17232f);
  position: absolute;
  width: 84%;
  height: 80%;
  top: 42%;
  left: 8%;
  z-index: 3;
}
.content-front-two {
  background-color: #ffffff;
  position: absolute;
  width: 84%;
  height: 80%;
  top: 120%;
  left: 8%;
  z-index: 3;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 5vh;
  height: 24%;
  border-radius: 50%;
  background-color: #f28e14;
}

.text {
  text-decoration: underline;
  text-underline-position: 5px;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
.barra {
  margin-left: 15%;
  margin-right: 2%;
}

.text-title {
  text-decoration: underline;
  text-underline-position: 5px;
  margin: 90px 90px;
  flex-direction: column;
  align-items: center;
}
.text-title-two {
  margin-top: 0px;
  margin-left: 34%;
  color: #ffffff;
  align-items: center;
  font-size: 100px;
}

.text-under-title {
  flex-direction: column;
  margin-left: -220px;
  margin-bottom: -50px;
}
.first-input {
  padding: 10px;
  display: flex;
  background-color: yellowgreen;
  align-self: center;
}
.input {
  margin-left: 20%;
}

.boton {
  background-color: #f28e14;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
}

@media only screen and (max-width: 750px) {
  .content {
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    max-height: none; /* override the max-height */
    height: 45vh; /* set a specific height for smaller screens */
  }
  .circle {
    width: 15%;
    height: 10%;
  }
  .barra{
    margin-left: 0px;
    font-size: 10px;
  }
  .text {
    text-decoration: underline;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }

  .text-title {
    margin: 1em;
    font-size: 20px;
  }
  .text-title-two {
    font-size: 50px;
  }
  .text-under-title {
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .content-front {
    top: 73%;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    max-height: none; /* override the max-height */
    height: 50vh; /* set a specific height for smaller screens */
  }

  .circle {
    margin-right: 1em;
    height: 18%;
  }

  .text-title {
    margin: 1em;
  }
}
